@inject IJSRuntime Runtime
<br />

@if (Record != null)
{
    if (attendences != null)
    {
        <p class="alert-danger white-text">@attendences.Count</p>
    }
}
else
{
    <p class="alert-danger white-text">Can't Fetch the record. :(</p>
}
@code {
    [Parameter]
    public TeacherRecord Record { get; set; }
    List<StudentAttendence> attendences;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            if (Record != null)
                GetStudentList();
        }
    }

    async void GetStudentList()
    {
        attendences = await DatabaseHelper.ReadList<List<StudentAttendence>>(Runtime, "Attendence/" + Record.SchoolCode + "/" + Record.Session + "/" + Record.Class);
        StateHasChanged();
    }
}
