@inject IJSRuntime Runtime
@inject NavigationManager NavManager

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">SIH Dashboard</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse black-text" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Home
                        <!--span class="sr-only">(current)</!--span-->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            @if (GlobalUser.UID == null)
            {
                <a class="nav-link navbar-right" href="/signin" style="margin-left:-10px">Login</a>
            }
            //else if (!GlobalUser.IsVerified && NavManager.Uri.IndexOf("/verifyaccount/") < 0)
            //{
            //    NavManager.NavigateTo("/verifyaccount/" + GlobalUser.Email);
            //}
            else
            {
                <a class="nav-link navbar-right" href="/userinfo" style="margin-left:-10px">@GlobalUser.Email</a>
                <button type="button" class="btn blue-gradient waves-effect" @onclick="Logout">Log Out</button>
            }


        </div>

        @code
{
            void Logout()
            {
                GlobalUser.UID = null;
                GlobalUser.IsVerified = false;
                GlobalUser.Email = null;
                NavManager.NavigateTo("/signin");

            }
        }

        <!-- Collapsible content -->

    </nav>