@inject IJSRuntime Runtime
@inject NavigationManager NavManager


    <nav class="navbar navbar-expand-lg navbar-primary bg-blue">


        <!-- Navbar brand -->
        <a class="navbar-brand" href="#" id="nbrand">SIH Dashboard</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse black-text" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="navopt">
                        Home
                        <!--span class="sr-only">(current)</!--span-->
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" style="margin: 0 2rem;"id="navopt">Features</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"  id="navopt">Pricing</a>
                </li>
            </ul>
            @if (GlobalUser.UID == null)
            {
                <a id="logbtn" class="btn blue-gradient waves-effect navbar-right" href="/signin" >Log In</a>
            }
            //else if (!GlobalUser.IsVerified && NavManager.Uri.IndexOf("/verifyaccount/") < 0)
            //{
            //    NavManager.NavigateTo("/verifyaccount/" + GlobalUser.Email);
            //}
            else
            {
                <a class="nav-link navbar-right" href="/userinfo" >@GlobalUser.Email</a>
                <button id="logbtn" type="button" class="btn blue-gradient waves-effect" @onclick="Logout">Log Out</button>
            }


        </div>

        @code
{
            void Logout()
            {
                GlobalUser.UID = null;
                GlobalUser.IsVerified = false;
                GlobalUser.Email = null;
                NavManager.NavigateTo("/signin");

            }
        }

        <!-- Collapsible content -->

    </nav>

<style>

    #logbtn{
        border-radius: 30px;
        box-shadow: none;
        font-size: 1.5rem;

    }
    .navbar{
        box-shadow: none;
        
    }
    .nav-link{
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 30px;
        font-weight: bolder;
    }
    #navopt{
    
	color: #413e66;
	font-size: 24px;

    }
</style>

