@page "/attendence"
@inject IJSRuntime Runtime
@inject NavigationManager NavManager

@if (GlobalUser.UID == null)
{
    NavManager.NavigateTo("/signin");

}
else
{
    if (data != null)
    {
        if(data.Role==Roles.Student)
        {
            if(studentData==null)
            {
                //create student record
            }
        }

    <p>@data.Role.ToString()</p>
    }
    else
    {
        <p> Fetching Data</p>
    }
}

@code
{
    UserData data { get; set; } = null;
    StudentRecord studentData { get; set; } = null;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            if (GlobalUser.UID != null)
            {
                if (data == null)
                    GetData();
            }
        }
        return base.OnAfterRenderAsync(firstRender);

    }
    async void GetData()
    {
        data = await DatabaseHelper.ReadData<UserData>
                (Runtime, "Users/" + GlobalUser.UID) ;
        switch (data.Role)
        {
            case Roles.Admin:
                break;
            case Roles.VisitingOfficial:
                break;
            case Roles.Teacher:
                break;
            case Roles.Student:
                GetStudentData().GetAwaiter().GetResult();
                break;
            default:
                break;
        }
        StateHasChanged();
    }
    async Task GetStudentData()
    {
        studentData = await DatabaseHelper.ReadData<StudentRecord>
                (Runtime, "Records/" + GlobalUser.UID);
    }

}

