@page "/"
@inject NavigationManager NavManager

<NavBar />

<div class="container my-5">


    <!--Section: Content-->
    <section class="white-text text-center">

        <h3 class="heading">Welcome To SIH Dashboard</h3>
        <br /><br />
        <!--First row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="/attendence" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-tablet-alt fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Attendence</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="/feedbacks" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-cogs fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Feedback</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-pencil-ruler fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Govt. Report</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-recycle fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Etc</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
        <!--First row-->

    </section>


</div>

<style>
    body {
        background: #0f0c29; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>