@page "/problems"
@inject IJSRuntime Runtime
@inject NavigationManager NavManager

<NavBar />

@*@if (GlobalUser.UID == null)
    {
        NavManager.NavigateTo("/signin");

    }
    else
    {

    }*@

@if (schoolCOde == null)
{
    <input type="number" @bind-value="schoolCOde" placeholder="Enter School Code" />
}
else
{
    if (choice == -1)
    {
        <!-- #intro -->

        <main id="main">




            <!--==========================
              Services Section
            ============================-->
            <section id="services" class="section-bg">
                <div class="container">
                    <div class="row">

                        <div @onclick="@newSelect" class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="box">
                                <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                                <h4 class="title">New Issue</h4>
                                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                            </div>
                        </div>

                        <div  @onclick="viewSelect" class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="box">
                                <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                                <h4 class="title">View Issues</h4>
                                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- #services -->
        </main>



    }
    else if(choice==0)
    {
        <p>new issue</p>
    }
    else
    {
        <p>view issue</p>
    }
}

@code
{
    string uid;
    string problem;
    string title;
    string schoolCOde = "1234";
    Roles role;
    int choice = -1;

    void CreateIssue()
    {
        SchoolProblem problem = new SchoolProblem();
        ProblemStatement problemStatement = new ProblemStatement();
        problemStatement.Description = "bad school";
        problemStatement.Uid = "2324242424";
        problem.Statement.Add(problemStatement);

        DatabaseHelper.PushData<SchoolProblem>(Runtime, "SchoolIssues/" + schoolCOde, problem);
    }
    void newSelect()
    {
        choice = 0;
        StateHasChanged();
    }
    void viewSelect()
    {
        choice = 1;
        StateHasChanged();
    }
    async void ReadAllSchoolIssues()
    {
        var v = await DatabaseHelper.ReadList<List<SchoolProblem>>(Runtime, "SchoolIssues/" + schoolCOde);
        Console.WriteLine(v.Count);
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ReadAllSchoolIssues();
    }
    bool Valid()
    {
        return false;
    }
}
