@page "/schoolResults/{Name}"

<NavBar/>

<h3>SchoolResultsPage-> @Name</h3>

@code {
    [Parameter]
    public string Name { get; set; }
        protected override Task OnInitializedAsync()
        {
            return base.OnInitializedAsync();
        }
}
