@page "/schools/{SchoolCode}/overview/"
@inject IJSRuntime Runtime
@inject NavigationManager NavManager
<link rel="stylesheet" href="css/generalchart.css">
<link rel="stylesheet" href="css/chart-table.css">
<NavBar />



<div class="container">

    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">School Overview @SchoolCode </h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- product category  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Visitor Category</h5>
                            <div class="card-body">
                                <div class="ct-chart-category ct-golden-section" style="height: 315px;">
                                    <canvas id="visitorcategory" width="100%" height="100%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end product category  -->
                    <!-- product sales  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- <div class="float-right">
                                        <select class="custom-select">
                                            <option selected>Today</option>
                                            <option value="1">Weekly</option>
                                            <option value="2">Monthly</option>
                                            <option value="3">Yearly</option>
                                        </select>
                                    </div> -->
                                <h5 class="mb-0"> Line</h5>
                            </div>
                            <div class="card-body">
                                <div class="ct-chart-product ct-golden-section">
                                    <canvas id="allline" style="max-width:800px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end product sales  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- top perfomimg  -->
                        <!-- ============================================================== -->
                        <div class="card">
                            <h5 class="card-header">Facilities</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table no-wrap p-table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">Facilities</th>
                                                <th class="border-0">Availibility</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Fan</td>
                                                <td>Yes</td>

                                            </tr>
                                            <tr>
                                                <td>Desks</td>
                                                <td>No </td>

                                            </tr>
                                            <tr>
                                                <td>Labs</td>
                                                <td>Yes </td>

                                            </tr>
                                            <tr>
                                                <td>Playground</td>
                                                <td>No </td>

                                            </tr>
                                            <tr>
                                                <td>Water Cooler</td>
                                                <td>Yes </td>

                                            </tr>
                                            <tr>
                                                <td>Washrooms</td>
                                                <td>No </td>

                                            </tr>
                                            <tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end top perfomimg  -->
                        <!-- ============================================================== -->






                    </div>
                </div>





                <div class="row">
                    <!-- ============================================================== -->
                    <!-- sales  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- <div class="float-right">
                                        <select class="custom-select">
                                            <option selected>Today</option>
                                            <option value="1">Weekly</option>
                                            <option value="2">Monthly</option>
                                            <option value="3">Yearly</option>
                                        </select>
                                    </div> -->
                                <h5 class="mb-0">Academics</h5>
                            </div>
                            <div class="card-body">
                                <div class="ct-chart-product ct-golden-section">
                                    <canvas id="academics" style="max-width:800px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end sales  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- new customer  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- <div class="float-right">
                                        <select class="custom-select">
                                            <option selected>Today</option>
                                            <option value="1">Weekly</option>
                                            <option value="2">Monthly</option>
                                            <option value="3">Yearly</option>
                                        </select>
                                    </div> -->
                                <h5 class="mb-0">Discipline</h5>
                            </div>
                            <div class="card-body">
                                <div class="ct-chart-product ct-golden-section">
                                    <canvas id="discipline" style="max-width:800px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end new customer  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- visitor  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end visitor  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- total orders  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end total orders  -->
                    <!-- ============================================================== -->
                </div>


                <div class="row">
                    <!-- ============================================================== -->
                    <!-- sales  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- <div class="float-right">
                                        <select class="custom-select">
                                            <option selected>Today</option>
                                            <option value="1">Weekly</option>
                                            <option value="2">Monthly</option>
                                            <option value="3">Yearly</option>
                                        </select>
                                    </div> -->
                                <h5 class="mb-0">Health</h5>
                            </div>
                            <div class="card-body">
                                <div class="ct-chart-product ct-golden-section">
                                    <canvas id="health" style="max-width:800px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end sales  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- new customer  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- <div class="float-right">
                                        <select class="custom-select">
                                            <option selected>Today</option>
                                            <option value="1">Weekly</option>
                                            <option value="2">Monthly</option>
                                            <option value="3">Yearly</option>
                                        </select>
                                    </div> -->
                                <h5 class="mb-0">Activities</h5>
                            </div>
                            <div class="card-body">
                                <div class="ct-chart-product ct-golden-section">
                                    <canvas id="activities" style="max-width:800px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end new customer  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- visitor  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end visitor  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- total orders  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end total orders  -->
                    <!-- ============================================================== -->
                </div>


                <div class="row">
                    <!-- ============================================================== -->
                    <!-- sales  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- <div class="float-right">
                                        <select class="custom-select">
                                            <option selected>Today</option>
                                            <option value="1">Weekly</option>
                                            <option value="2">Monthly</option>
                                            <option value="3">Yearly</option>
                                        </select>
                                    </div> -->
                                <h5 class="mb-0">Safety</h5>
                            </div>
                            <div class="card-body">
                                <div class="ct-chart-product ct-golden-section">
                                    <canvas id="safety" style="max-width:800px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end sales  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- new customer  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">Meals</h5>
                            </div>
                            <div class="card-body">
                                <div class="ct-chart-product ct-golden-section">
                                    <canvas id="meals" style="max-width:800px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end new customer  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- visitor  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end visitor  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- total orders  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end total orders  -->
                    <!-- ============================================================== -->
                </div>
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- total revenue  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- category revenue  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Student Categories</h5>
                            <div class="card-body">
                                <canvas id="studentcategory" style="max-width:800px"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end category revenue  -->
                    <!-- ============================================================== -->

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Student Submitted</h5>
                            <div class="card-body">
                                <canvas id="studentcategory" style="max-width:800px"></canvas>
                            </div>
                            <div class="card-footer">
                                <p class="display-7 font-weight-bold"><span class="text-primary d-inline-block"></span><span class="text-success float-right"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- ============================================================== -->
                    <!-- end wrapper  -->
                    <!-- ============================================================== -->
                </div>
            </div>
        </div>
    </div>


@code
{
    [Parameter]
    public string SchoolCode { get; set; }
    private string categoryselected { get; set; }
    private List<Feedbacks> feeds = null;
    private bool chartnotmade = true;
    private Schools school = null;
    private string[] dates = { "NA", "NA", "NA", "NA", "NA" };
    private int[] safety = { 0, 0, 0, 0, 0 };
    private int[] academics = { 0, 0, 0, 0, 0 };
    private int[] health = { 0, 0, 0, 0, 0 };
    private int[] discipline = { 0, 0, 0, 0, 0 };
    private int[] meals = { 0, 0, 0, 0, 0 };
    private int[] activities = { 0, 0, 0, 0, 0 };
    private int[] all = { 0, 0, 0, 0, 0 };
    private string[] sentiment = { "0", "0", "0", "0", "0" };
    private string[] doughnutlabels = { "Safety", "Academics", "Health", "Discipline", "Meals", "Activities" };
    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            LoadFeed();
        }
        else
        {
            if (chartnotmade)
            {
                LoadCharts();
                chartnotmade = false;
            }
        }
    }
    async void LoadFeed()
    {
        feeds = await DatabaseHelper.GetFeedbacks<List<Feedbacks>>(Runtime, "school_feedbacks/" + SchoolCode, 5);
        school = await DatabaseHelper.ReadData<Schools>(Runtime, "Schools/" + SchoolCode);
        int[] chartdata = { school.CategoryScores.Safety, school.CategoryScores.Academics, school.CategoryScores.Health, school.CategoryScores.Discipline, school.CategoryScores.Meals, school.CategoryScores.Activities };
        await Runtime.InvokeVoidAsync("DisplayDoughnutChart", "visitorcategory", doughnutlabels, chartdata);
        await Runtime.InvokeVoidAsync("DisplayDoughnutChart", "studentcategory", doughnutlabels, chartdata);
        for (int i = 0; i < feeds.Count; i++)
        {
            var feed = feeds[i];
            dates[i] = feed.Date;
            sentiment[i] = await SentimentalAnalysis.GetFeedbackSentiment(Runtime, feed);
            for (int j = 0; j < feed.Feedback.Length; j++)
            {
                int ch;
                if (feed.Feedback[j] == 't' || feed.Feedback[j] == 'f')
                    ch = (feed.Feedback[j] == 't') ? 10 : 0;
                else
                    ch = (int)(feed.Feedback[j] - '0');
                if (ch == 0)
                    ch = 10;
                if (j < 12)
                    academics[i] += ch;
                else if (j < 22)
                    discipline[i] += ch;
                else if (j < 32)
                    health[i] += ch;
                else if (j < 42)
                    activities[i] += ch;
                else if (j < 69)
                    safety[i] += ch;
                else if (j < 78)
                    meals[i] += ch;
            }
        }
        StateHasChanged();
    }
    async void LoadCharts()
    {
        await Runtime.InvokeVoidAsync("DisplayColumnChart", "academics", "Academics", dates, academics);
        await Runtime.InvokeVoidAsync("DisplayColumnChart", "discipline", "Discipline", dates, discipline);
        await Runtime.InvokeVoidAsync("DisplayColumnChart", "health", "Health", dates, health);
        await Runtime.InvokeVoidAsync("DisplayColumnChart", "activities", "Activities", dates, activities);
        await Runtime.InvokeVoidAsync("DisplayColumnChart", "safety", "Safety", dates, safety);
        await Runtime.InvokeVoidAsync("DisplayColumnChart", "meals", "Meals", dates, meals);
        await Runtime.InvokeVoidAsync("DisplayLineChart", "allline", dates, academics, discipline, health, activities, safety, meals);
        StateHasChanged();
    }
}
