@page "/userinfo"
@inject IJSRuntime Runtime
@inject NavigationManager NavManager
<NavBar/>
    <!-- Card Regular -->
<br />
<br />
<style>


</style>

@if (!string.IsNullOrWhiteSpace(GlobalUser.UID) && data!=null)
{

<div class="d-flex justify-content-center align-items-center">

    <!-- Content -->
    <!--Card-->
    <div class="card testimonial-card" style="max-width:500px;" id="userinfocard">
        <!--Background color-->
        <div class="card-up info-color"></div>
        <!--Avatar-->
        <div class="jumbotron" id="userinfojumbo"></div>
        <div class="card-body">
            <!--Name-->
            <h4 class="font-weight-bold mb-4">@data.Name</h4>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-4">
                <i class="fas fa-quote-left pr-2"></i>@data.Role.ToString()
            </p>
            <p class="dark-grey-text mt-4">
                <i class="fas fa-quote-left pr-2"></i><a href="/user/feedbacks">Submitted Feedbacks</a>
            </p>
            <br />
            <p>Terms and Conditions, Eula , Copyrights Information</p>
            <button type="submit" @onclick="Logout" class="btn btn-info my-4 btn-block blue-gradient  waves-effect" style="border-radius: 30px;">Log Out</button>
        </div>
    </div>
    <!--Card-->

</div>

}
else
{
    <br />
    <p>Failed to fetch profile data</p>
}

@code
{   
    private UserData data;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            if(data==null)
                LoadUser();

        }
    }
    async void LoadUser()
    {
        data= await DatabaseHelper.ReadData<UserData>
            (Runtime, "Users/" + GlobalUser.UID);
        StateHasChanged();
    }
    void Logout()
    {
        GlobalUser.UID = null;
        GlobalUser.IsVerified = false;
        GlobalUser.Email = null;
        NavManager.NavigateTo("/");

    }
}