@page "/feedbacks"
@inject IJSRuntime Runtime
@inject NavigationManager NavManager
<NavBar />
<!-- Card Regular -->
<br />
<br />
<div>
    <ul id="main">

    </ul>
</div>
<div id="default" style="display:block">
    <p>Nothing to show</p>
</div>

@code
{

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            DatabaseHelper.DisplayFeedback(Runtime, "Feedbacks/" + GlobalUser.UID);
        }
    }
}

<style>
    body {
        background-image: url('./images/blur.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>