@page "/feedbacks"
@inject IJSRuntime Runtime
@inject NavigationManager NavManager
<NavBar />
<!-- Card Regular -->
<br />
<br />

@if (GlobalUser.UID == null)
{
    NavManager.NavigateTo("/signin");

}
@if (feeds != null)
{
    <ul>
        @foreach (var feed in feeds)
        {
            if (feed != null)
            {
            <li class="white-text">Date: @feed.Date</li>
            <li class="white-text">SchoolCode: @feed.SchoolCode</li>
            <li class="white-text">Feedback: @feed.Feedback</li>
            }
        }
    </ul>
}
else
{
    <br />
    <p class="white-text">Failed to fetch profile data</p>
}

@code
{
    private List<Feedbacks> feeds = null;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            LoadFeed();
        }
    }
    async void LoadFeed()
    {
        feeds = await DatabaseHelper.ReadList<List<Feedbacks>>
            (Runtime, "Feedbacks/" + GlobalUser.UID);
        StateHasChanged();
    }
}

<style>
    body {
        background-image: url('./images/blur.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: 0% 0%;
    }
</style>